body{
	color: black;
	background-color: white;
}

code{
	/* background-color: #ccc; */
	font-size: 1rem!important;
}

a{
	color: inherit;
}
/* a:visited {
	color: #81181c;
} */
pre {
	background-color: #ddd;
}

@media (prefers-color-scheme: dark) {
	body{
		color: white;
		background-color: #161616;
	}

	code{
		/* background-color: #444; */
	}

	pre {
		background-color: #333;
	}
}

html {
	-webkit-text-size-adjust:250%;
	text-size-adjust:250%;
}

body{
	font-family: sans-serif;
	font-weight: 200;
	padding: 1rem;
	max-width: 1000px;
	margin: auto;
	padding-bottom: 5rem;
}




pre {
	padding: 1rem;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 10px;
	overflow: scroll;
	/* border: solid 1px white; */
}

h1{
	font-size: 2.5rem;
	width: 100%;
	/* text-align: center; */
	/* text-decoration: underline; */
	font-weight: 400;
}

h2{
	font-size: 2rem;
	border-bottom: 1px solid;
	color: #CA0C13;
	margin-top: 4rem;
	font-weight: 100;
}

h3 {
	font-weight: 400;
	margin-top: 2rem;
}
h3::after {
	/* content: ':' */
}
