<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta name="robots" content="noindex">
		<meta charset="utf-8">
		<title>NarekB</title>
		<link rel="alternate" type="application/rss+xml" href="/rss" title="Your title">
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<article>
			<h1 id="welcome">> Welcome </h1>
			<p class="home-info">
				I'm Narek. I'm an engineer currently living in San Diego, CA.
			</p>
			<p class="home-info">
				I build projects and post some of them here, along with other things I find useful or interesting.
			</p>
			<p class="home-info italic">
				Note: I am still adding previous projects to this website so many articles are currently incomplete or missing.
			</p>
			<p class="home-info">
				<a href="/rss.xml">RSS</a>
			</p>
			{entry}
		</article>

		<p class="buildwith">
			Website built with <a href="/projects/site_builder/">Static&nbspSite&nbspGenerator</a>. A static website generator I wrote in Python.
		</p>
	</body>
</html>
