<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta name="robots" content="noindex">
	<meta charset="utf-8">
	<title>{title} | Narek</title>
	<link rel="stylesheet" href="/css/main.css">
</head>

<body>
	<div class="breadcrumbs_div">
		{breadcrumbs}
	</div>
	<article>
		{entry}
	</article>

	<div class="buildwith-container">
		<div class="buildwith">
			<p class="buildwith">
				Built with <a href="/projects/site_builder.html" class="visible_link">Static&nbspSite&nbspGenerator</a>, a tool I wrote in Python.
			</p>
		</div>
	</div>
</body>

</html>
