<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta name="robots" content="noindex">
		<meta charset="utf-8">
		<title>{title}</title>
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<div class="breadcrumbs_div">
			{breadcrumbs}
		</div>
		<article>
			<h1 id="section">{section}</h1>
			<p class="home-info">
			</p>
			{entry}
		</article>

		<p class="buildwith">
			Website built with <a href="/projects/site_builder/">Static&nbspSite&nbspGenerator</a>. A static website generator I wrote in Python.
		</p>
	</body>
</html>
